<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
<link rel="stylesheet" href="static/css/style.css">
</head>
<body>
  
<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark"> 
  <div class="container-fluid" >
    <a class="navbar-brand navbtn" href="#">
      <img src="{{data.brandiconurl}}" alt="error" style="border-radius:50%" width="50" height="50"> <div class="brandname" style="font-family: monospace; display: inline; margin-left: 10px;"> {{data.brandname}}</div>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        {{#each data.links}}

        <li class="nav-item">
          <a class="nav-link navbtn"  aria-current="page" href="{{this.url}}">{{this.lable}}</a>
        </li>

        {{/each}}
      </ul>
    </div>
  </div>
</nav>

</body>